g.axis line, g.axis path {
    fill:none;
    stroke: #000;
}

.axis text {
    font-style: italic;
}

.visible {
    visibility: visible;
}

#country{
        	font-size:x-large;
        	font-family: 'rockwell' ;
        	fill:black;
        	stroke:black;
}

@font-face {
    font-family: cursive;
    src: url(cursive.ttf);
}

@font-face {
    font-family: oldschool;
    src: url(oldschool.ttf);
}

@font-face {
    font-family: line;
    src: url(line.ttf);
}